{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Yiliang Wang</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'blog/assets/css/main.css' %}" />
</head>

<body>
	<div id="intro">
		<div id="name_slogan">
			<h1 class="display-4"> Yiliang "Louis" Wang</h1>
		</div>
	</div>

	<div class="container">
		<div id="post-detail">
			<div class="jumbotron">
				<article class="post post-{{ post.pk }}">
					<div>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="../..">Home</a></li>
							<li class="breadcrumb-item active">{{ post.title }}</li>
						</ol>
						<h2 class="title">{{ post.title }}</h2>
						<div class="read-comment-info">
							<span class="badge badge-success">Read</span>
							<span class="badge badge-pill badge-primary">{{ post.views }}</span>
							<span class="badge badge-success">Comment</span>
							<span class="badge badge-pill badge-primary">{{ review }}</span>
						</div>
						<div class="tags">
							<span class="badge badge-pill badge-primary">{{ post.category.name }}</span>
							<span class="badge badge-pill badge-primary">Java</span>
							<span class="badge badge-pill badge-primary">Project</span>
						</div>
						<hr>
						<!-- {% block toc %}
						<div class="widget widget-content">
							<h3 class="widget-title">Table of Contents</h3>
							{{ post.toc|safe }}
						</div>
						{% endblock toc %}
						-->
						<div class="entry-content clearfix">
							{{ post.body_html|safe }}
						</div> 
				</article>

				<br><br>
				<form method="post" action="{% url 'comments:post_comment' post.pk %}">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="{{ form.name.id_for_label }}">Name</label>
							{{ form.name }}
							{{ form.name.errors }}
						</div>
						<div class="form-group col-md-6">
							<label for="{{ form.email.id_for_label }}">Email</label>
							{{ form.email }}
							{{ form.email.errors }}
						</div>
					</div>
					<div class="form-group">
						<label for="{{ form.text.id_for_label }}">Message</label>
						{{ form.text }}
						{{ form.text.errors }}
					</div>
					<input type="submit" value="Send Message" />
				</form>


				<div class="list-group">
					{% for comment in comment_list %}
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{ comment.name }}</h5>
							<small>{{ comment.created_time }}</small>
						</div>
						<p class="mb-1">
							{{ comment.text }}
						</p>
					</a>
					{% empty %}
					No comments
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</div>


</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<script src="{% static 'blog/assets/js/detail.js' %}"></script>

</html>