{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Yiliang Wang</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'blog/assets/css/main.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div id="intro">
		<img id="title-photo" src="{% static 'blog/assets/img/avatar.png' %}" class="rounded-circle mx-auto d-block">
		<div id="name_slogan">
			<h1 class="display-4"> Yiliang "Louis" Wang</h1>
			<h5 class="display-6"> 𝕾𝖍𝖎𝖓𝖎𝖓𝖌 𝖑𝖎𝖐𝖊 𝖆 💎 <br> 𝖗𝖔𝖑𝖑𝖎𝖓𝖌 𝖜𝖎𝖙𝖍 𝖙𝖍𝖊 🎲</h1>
		</div>
	</div>

	<div class="container">
		<div id="index-tab" class="container">
			<ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="pills-posts-tab" data-toggle="pill" href="#pills-posts" role="tab"
						aria-controls="pills-posts" aria-selected="true">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
						aria-controls="pills-profile" aria-selected="false">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
						aria-controls="pills-contact" aria-selected="false">Contact</a>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-posts" role="tabpanel"
					aria-labelledby="pills-home-tab">
					<div id=search-bar>
						<form>
							<div class="form-group">
								<input type="text" class="form-control" id="post-filter" placeholder="Search posts.." />
							</div>
						</form>
					</div>

					<div class="card-columns"></div>

				</div>
				<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="jumbotron">
						<div id="main">
							<section class="post">
								<header class="major">
									<span class="date">updated on May, 2020</span>
								</header>
								<div class="note note-detail-markdown">
									<hr class="my-4">
									<h2>WORK EXPERIENCE</h1>
										<blockquote>
											<h5><strong>NewPoint.io</strong></h5>
											<p><strong>Software Developer, Intern</strong><br>
												Jun. 2020 – present <br>Seattle, U.S. </p>

										</blockquote>

										<blockquote>
											<h5><strong>Beijing Starlight S&T Development Co., Ltd</strong></h5>
											<p><strong>Software Developer, Intern</strong><br>
												Oct. 2018 – Feb. 2019 <br>Beijing, China </p>

										</blockquote>

										<blockquote>
											<h5><strong>Ernst &amp; Young (China) Advisory Ltd.</strong></h5>
											<p><strong>Risk Advisory service, Associate Consultant</strong><br>
												July. 2017 – Jun. 2018 <br>Beijing, China </p>

										</blockquote>

										<hr class="my-4">
										<h2>EDUCATION</h2>
										<blockquote>
											<h5><strong>University of Washington, Seattle</strong></h5>
											<strong>Ms. Information Management
											</strong><br> Spt. 2019 - Jun. 2021 (est.) <br>Seattle, U.S.
										</blockquote>
										<blockquote>
											<h5><strong>China Agricultural University</strong></h5>
											<strong>Economics and Management of Agriculture and Forestry
											</strong><br> Spt. 2013 - Jun. 2017 <br>Beijing, China
										</blockquote>

										<hr class="my-4">
										<h2>TECHNICAL SKILLS</h2>

										<h5><strong>Programming Languages</strong></h5>

										<p>
											Java • Golang • Python • Kotlin • SQL • JavaScript/TypeScript
										</p>

										<h5><strong>Frameworks &amp;Tools </strong></h5>
										<p> AWS EC2 • MERN • SpringBoot • Django • Android SDK • Docker • Redis •
											RabbitMQ</p>

										<hr class="my-4">
										<h2>ACTIVITIES &amp; SOCIETIES</h2>
										<blockquote>
											<h5><strong>volunteer teacher (INCLUDED NGO)</strong></h5>
											Mar. 2014 - Jul. 2014
											<li class="checklist-item">As a voluntary
												Teached English and leaded an introductory course of basic
												computer for low income communities and organized a team of
												volunteer librarians for that communities.
											</li>
											<li class="checklist-item">Beijing, China</li>
										</blockquote>
								</div>
							</section>
							<hr class="my-4">
							<p class="lead">
								<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
							</p>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
					style="padding-top: 10px; padding-bottom: 10px;">
					<a href="https://i.loli.net/2019/01/27/5c4dcf5278810.jpg" class="btn btn-success"> <i
							class="fa fa-weixin"></i> WeChat</a>
					<a href="https://www.linkedin.com/in/louisylwang/" class="btn btn-primary"> <i
							class="fa fa-linkedin"></i> Linkedin</a>
					<a href="https://github.com/LouisYLWang" class="btn btn-secondary"> <i class="fa fa-github"></i>
						GitHub</a>
					<a href="mailto://louis.yl.wang@outlook.com" class="btn btn-info"> <i class="fa fa-envelope"></i>
						Email</a>
				</div>
			</div>
		</div>
	</div>


</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<script src="{% static 'blog/assets/js/index.js' %}"></script>

</html>